body {
    background-image: url("../image/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    font-family: Arial, Helvetica, sans-serif;
    line-height: 1;
}

#container{
    max-width: 40rem;
    min-height: 50rem;
    height: auto;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 2em;
    background: rgba(0, 0, 0, 0.85);
    text-align: center;
    color: white;
}

h1{
    font-size: 3em;
    color: white;
}

#background img{
        float: right;
        width: 2em;
        height: 2em;
        margin: 2em;
        all: inline;
        opacity: 0,5;
}

ul > li{
    list-style: none;
}